{% extends "base.html" %}
{% block content %}

        <div id="successAlert" style="display: none;" class="alert alert-success" role="alert">Successfully Saved!</div>

        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 style="margin-top: 3px;">What is LaziiTV</h3>
                    <p>
                        LaziiTV is a program that simulates the classic TV experience with video files that are stored on your computer.
                        It will only work with local video files saved to your computer and will not work with online videos like YouTube. LaziiTV
                        works by allowing you to define different channels and the video files that will play on that channel.  When a channel is loaded
                        ,a random video will start playing.  LaziiTV also features expected functions like: changing the channel, pausing, and more.
                    </p>

                    <h3>How it works</h3>
                    <p>
                        LaziiTV simulates the TV experience by allowing you to define channels which play certain video files, as
                        well as different sets of channels.
                        The main function consists of “modes”, which contain “channels”,
                        which will be explained below.
                    </p>

                    <h3>Channels</h3>
                    <p>
                        A channel is a set of specific folders on your PC that contain video files that will be randomly chosen to play when the channel loads.
                        Do not put any files other than video files in folders that will be channels.
                        <br><br>
                        Example – Let’s say you have a folder called “The Office”. Inside that folder you have folders called, “Season 1” and “Season 2”. Those two
                        folders each contain the video files that are the actual episodes of the The Office. And let’s say you have the exact same folder setup with
                        another TV show and folder called “How I Met Your Mother”. Your channel would consist of the two folders: “The Office” and “How I Met Your Mother”.
                        When that channel loads, it will randomly play a video from one of the folders inside “The Office” or “How I Met Your Mother”.
                        <br><br>
                        A channel can contain as many folders/TV shows as you want. A channel can also have a name. You could have a channel called “Comedy” which contained The Office,
                        How I Met Your Mother, Seinfeld, Parks and Recreation and much more! You could also have a channel called “Drama” which contains the folders/TV Shows
                        like Suits and House of Cards. This setup would mimic standard TV; a channel that plays a specific type of show. But you can of course setup your
                        channels to play whatever you want.
                    </p>

                    <h3>Modes</h3>
                    <p>
                        A mode is a set of channels.
                        <br><br>
                        Example – Let’s say you have a mode called “Classic”. This mode will have channels that mimic classic TV. You have a Comedy channel, which have
                        funny TV shows. You have a channel called Drama which has dramatic TV shows. You have a channel called Cartoons which plays cartoons. This setup
                        would be nice for when you don’t really know what TV show you want to watch but you know you’re in the mood for something funny for instance.
                        But what if you know exactly what TV show you want to watch but you don’t care which episode plays or you don’t feel like setting up a playlist?
                        You can create a new mode called “TV Shows”. In this mode, each channel would be a specific TV show. So when you load The Office channel, it would
                        only play episodes of The Office.
                        <br><br>
                        You can create as many modes as you want and each mode can contain as many channels as you want.
                    </p>

                    <h3>Folders</h3>
                    <p>
                        Folders are what actually contain the video files that will be played on a channel. A folder should contain video files or contain sub folders, which contain
                        video files.
                        <br><br>
                        Example – you could add a folder called The Office, if it contained folders Season 1 and Season 2.  The folders, Season 1 and Season 2, would contain
                        the video files that are the episodes.  You could have add a folder called Movies, which contains video files of different movies.
                    </p>

                    <h3>Required Folder Structure</h3>
                    <p>
                        When adding a Folder, it requires the following structure. The folder should contain all video files, or it should contain folders, which contain all video files.
                        <br><br>
                        eg
                        <br>
                        /Movies<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;video.mp4<br>
                        /The Office<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;/Season 1<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Episode1.mp4<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;/Season 2<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Episode1.mp4<br>
                    </p>

                    <h3>Controls</h3>
                    <p>
                        LaziiTV is currently controlled by your keyboard or mouse.
                        <br><br>
                        Keyboard Controls - Can be set in "Settings"<br>
                        Play/Pause<br>
                        Stop<br>
                        Refresh Channel<br>
                        Channel Up<br>
                        Channel Down<br>
                        Change Mode<br>
                        Skip Forward<br>
                        Skip Backward<br>
                        Quit LaziiTV<br>
                        Display Info<br>
                        Switch Displays<br>
                        Previous Video<br>
                        <br><br>
                        Mouse Controls<br>
                        Scroll Up - Play/Pause<br>
                        Scroll Down - Stop<br>
                        Left Click - Channel Up<br>
                        Double Left Click - Channel Down<br>
                        Right Click - Change Mode<br>
                        Middle Click - Refresh Channel<br>

                    </p>
                </div>
            </div>
        </div>
        <!-- /row -->

{% endblock %}
